.chart {
  height: 150px;
  width: 100%;
}

.chart td {
  vertical-align: bottom;
}

.chart__bar {
  background-color: #292929;
  cursor: pointer;
}

.chart__bar--selected {
  background-color: #737373;
}

td:not(td:has(.chart__bar.chart__bar--selected) ~ td:has(.chart__bar)) .chart__bar:not(.chart__bar--selected):not(:hover) {
  background-color: #353535;
}

.chart__bar:hover:not(.chart__bar--selected) {
  background-color: #464646;
}

@media screen and (max-width: 768px) {
  .chart td {
    padding: 0;
  }
}
