.chart {
  height: 150px;
  width: 100%;
}

.chart td {
  vertical-align: bottom;
}

.chart__bar {
  background-color: #292929;
  cursor: pointer;
}

.chart__bar--selected {
  background-color: #737373;
}

td:not(td:has(.chart__bar.chart__bar--selected) ~ td:has(.chart__bar)) .chart__bar:not(.chart__bar--selected):not(:hover) {
  background-color: #353535;
}

.chart__bar:hover:not(.chart__bar--selected) {
  background-color: #464646;
}

.container {
  display: flex;
  flex-direction: column;
}

.container img {
  align-self: flex-end;
  cursor: pointer;
}

.container img:hover {
  opacity: 0.5;
}

.slider-container {
  position: relative;
}

.slider {
  appearance: none;
  width: 100%;
  background: transparent;
  margin-top: -8px;
}

.slider-output {
  position: absolute;
  transform: translateX(-50%);
  padding: 4px 8px;
  background: #222222;
  font-weight: 500;
  white-space: nowrap;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
  /*noinspection CssUnknownTarget*/
  background-image: url('/assets/images/slider-thumb.svg');
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 25px;
  }
  .chart td {
    padding: 0;
  }
}
