.stats-item-count {
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.stats-item {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .stats {
    flex-direction: row;
  }

  .stats-item-count {
    font-size: 24px;
    line-height: 30px;
  }

  .stats-item-title {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 768px) {
  .stats {
    flex-direction: column;
  }
}
